<html>

<head>
    <title>Stucky Toys Studio</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link   href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="/javascripts/script.js"></script>
</head>

<body ng-app="stuckyToys">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view> <% // Hier komt de state %>
        </div>
    </div>

    <% // Home state %>
    <script type="text/ng-template" id="/index.html">
    <ul class="topnav" id="myTopnav">
        <li><a href="http://niklippens.classy.be/">Stucky Toys Studio</a></li>
        <li><a href="#">Dieren</a></li>
        <li><a href="#/stories">Verhalen</a></li>
    </ul>
    <table>
        <tr class="fixedTable">
            <td>Naam</td>
            <td>Geluid</td>
            <td>Afbeelding</td>
        </tr>
        <tr ng-repeat="x in animals">
            <td>{{x.name}}</td>
            <td>{{x.audio}}</td>
            <td>{{x.image}}</td>
            <td><a href="#/animals/{{$index}}">Wijzigen</a></td>
            <td><a href ng-click="deleteAnimal($index);" >Verwijderen</a></td>
        </tr>
    </table>
    <form ng-submit="addAnimal()" style="margin-top:30px;">
        <h3>Voeg een nieuw dier toe</h3>
        <div class="form-group">
            <input type="Naam" class="form-control" placeholder="Naam dier" ng-model="name"></input>
        </div>
        <button type="submit" class="btn btn-primary">Voeg toe</button>
    </form>
</script>

<% // Wijzigingen bij dieren %>
<script type="text/ng-template" id="/animals.html">
    <div class="page-header">
        <h3>Maak wijzigingen aan!</h3>  
    </div>
<form ng-submit="changeAnimal(imageSrc, audioSrc)" style="margin-top:30px;">
    <div class="form-group">
        <label>Naam</label>    <input  name="first_name" placeholder="{{animal.name}}" class="form-control"  type="text" ng-model="name"/>
        </br>
        <label>Afbeelding</label> <input ng-file-select type="file" ngf-select ng-model="imageSrc"/>
        </br>
        <label>Geluid</label> <input ng-file-select type="file" ngf-select ng-model="audioSrc"/>
        </br>
    </div>
        <button type="submit" class="btn btn-primary">Wijzigingen opslaan</button>
</form>
</script>

<% // Verhalen state %>
<script type="text/ng-template" id="/stories.html">
    <ul class="topnav" id="myTopnav">
        <li><a href="http://niklippens.classy.be/">Stucky Toys Studio</a></li>
        <li><a href="#/home">Dieren</a></li>
        <li><a href="#">Verhalen</a></li>
    </ul>
    <table>
        <tr class="fixedTable">
            <th>Naam</th>
            <th>Thema</th>
            <th>Scenario's</th>
        </tr>
        <tr ng-repeat="x in stories">
            <td>{{x.name}}</td>
            <td>{{x.thema}}</td>
            <td>
                <table>
                    <tr ng-repeat="y in x.scenarios">
                        <td>{{y.audio}}</td>
                        <td>{{y.image}}</td>
                    </tr>
                </table>
            </td>
            <td><a href="#/story/{{$index}}">Wijzigen</a></td>
            <td><a href ng-click="deleteStory($index);">Verwijderen</a></td>
        </tr>
    </table>
    <form ng-submit="addStory()" style="margin-top:30px;">
        <h3>Voeg een nieuw verhaal toe</h3>
        <div class="form-group">
            <input type="Naam" class="form-control" placeholder="Name" ng-model="name"></input>
        </div>
        <div class="form-group">
            <input type="Thema" class="form-control" placeholder="Thema" ng-model="thema"></input>
        </div>
        <button type="submit" class="btn btn-primary">Voeg toe</button>
    </form>
    </script>

    <% // Wijzigingen bij verhalen (scenario's) %>
    <script type="text/ng-template" id="/story.html">
        <div class="page-header">
            <h3>Maak wijzigingen aan het {{story.name}} verhaal</h3>  
        </div>
        <form ng-submit="changeStory(imageSrc, audioSrc)" style="margin-top:30px;">
            <div class="form-group" ng-repeat="x in story.scenarios">   
            <label>Afbeelding</label> <input ng-file-select type="file" ngf-select ng-model="imageSrc" placeholder="{{x.image}}"/>
            </br>
            <label>Geluid</label> <input ng-file-select type="file" ngf-select ng-model="audioSrc" placeholder="{{x.audio}}"/>
            </div>
            <button type="submit" class="btn btn-primary">Wijzigingen opslaan</button>
            </form>
            <form ng-submit="addScenario(imageSrc, audioSrc)">
                <h3>Voeg nieuw scenario toe</h3>
                <label>Afbeelding</label> <input ng-file-select type="file" ngf-select ng-model="imageSrc"/>
                </br>
                <label>Geluid</label> <input ng-file-select type="file" ngf-select ng-model="audioSrc"/>
                </br>
                <button type="submit" class="btn btn-primary">Voeg toe</button>
            </form>
    </script>
</body>

</html>